body {
  background-image: url(https://wallpaper.forfun.com/fetch/12/128ab829561e26433fb71f19764cfdea.jpeg);
  color: #dbe9de;
}

h1,
#subtitle,
footer,
#album-image {
  font-family: "Reggae One", "Arial";
  text-align: center;
  color: #dbe9de;
}

footer q {
  font-size: 12px;
}

#subtitle,
.date {
  font-size: 20px;
}

#image {
  display: block;
  margin: auto;
  border: 2px solid #70aa7d;
  width: 80%;
  max-width: 100%;
  border-radius: 10px;
  image-rendering: smooth;
}

figcaption {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}

#img-div {
  border-bottom: 2px solid #70aa7d;
  margin: 0 20px 25px 20px;
  padding: 25px 0 25px 0;
}

.date {
  font-family: "Reggae One", Arial;
  text-align: left;
  text-decoration: underline;
}

#tribute-info {
  margin: 0 auto 20px auto;
  width: 800px;
}

.album-name {
  font-weight: bolder;
  font-style: italic;
}

#tribute-info li {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  font-family: "Alegreya", Arial;
  font-size: 20px;
  padding: 20px 10px;
}

.tribute-text {
  text-align: left;
  max-width: 550px;
  line-height: 25px;
}

.name {
  font-style: italic;
}

.place {
  font-weight: bold;
  font-style: unset;
}

#album-image p {
  margin-top: 2px;
  margin-bottom: -25px;
}

#album-image li {
  list-style: none;
  display: inline;
  position: relative;
  left: -3%;
}

#album-image {
  width: 70%;
  margin: auto;
  padding: 0;
  border-top: 2px solid #70aa7d;
  border-bottom: 2px solid #70aa7d;
}

.album-image {
  height: 18%;
  width: 18%;
  margin: 2vh 0.5vh 1.5vh 0.5vh;
}

footer a {
  color: #70aa7d;
}

footer a:hover {
  color: #9ac3a4;
}

/* OBLIGATOIRE ? */

footer a:visited {
  color: #a9765d;
}
