body {
  background-image: url(https://wallpaper.forfun.com/fetch/12/128ab829561e26433fb71f19764cfdea.jpeg);
  color: #dbe9de;
}

h1,
#sous-titre,
footer {
  font-family: "Reggae One", "Arial";
  text-align: center;
}

#sous-titre,
.date {
  font-size: 20px;
}

#image {
  display: block;
  margin: auto;
  border: 2px solid #70aa7d;
  width: 80%;
  max-width: 100%;
  border-radius: 10px;
  image-rendering: smooth;
}

figcaption {
  font-family: Arial;
  font-size: 18px;
  text-align: center;
}

#img-div {
  border-bottom: 2px solid #70aa7d;
  margin: 0 20px 25px 20px;
  padding: 25px 0 25px 0;
}

.date {
  font-family: "Reggae One", Arial;
  text-align: left;
  margin-left: 170px;
  text-decoration: underline;
}

#tribute-info {
  margin: 0 auto 20px auto;
  width: 800px;
}

li {
  display: flex;
  justify-content: space-between;
  font-family: Arial;
  font-size: 18px;
  padding: 20px 10px;
}

.tribute-text {
  text-align: left;
  max-width: 300px;
  margin-right: 170px;
  line-height: 25px;
}

#album-image {
  width: 80%;
  margin: auto;
  padding: 0;
  border-top: 2px solid #70aa7d;
  border-bottom: 2px solid #70aa7d;
}

.album-image {
  max-height: 25vh;
  max-width: 25vh;
  padding: 3vh;
}
